body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  background: #f4eeee;
  color: white;
}

.calculator {
  background: #000000;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px #000;
  text-align: center;
  width: 300px;
}

#display {
  height: 50px;
  background: #111;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  text-align: right;
  overflow-x: auto;
}

.buttons button, .features button {
  width: 60px;
  height: 50px;
  margin: 5px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.buttons button {
  background: #555;
  color: white;
}

.features button {
  background: #007BFF;
  color: white;
}

button:hover {
  opacity: 0.8;
}
